.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: url('sports.jpg') center no-repeat;
    background-size: cover;
    opacity: 0.35;
    
}
.header:hover {
    background-position: 25%;
    transform: background-position;
    
}
h1 {
    position: relative;
    
}

.card-image-top{
    width: 100%;
    height: 11vw;
    object-fit: cover;
}

.product {
    transition: transform .2s,;
}

.product:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 500px) {
    img{
        display: block;
        width: 100px;
        height:100px;
        
    }
}


